.Chair {
    &.booking {
      background: #1A9FFF !important;
      color: white;
    }
    &.booked {
      background: #E25050 !important;
      color: white;
      pointer-events: none;
      
    }
  }
  