// custom-tabs.scss

.custom-tab {
  display: flex;
  align-items: center;
  padding: 10px; /* Thay đổi giá trị padding theo ý bạn */
  cursor: pointer; /* Biểu tượng con trỏ khi đưa chuột vào tab */
  
  &.is-selected {
    background-color: red;
    color: white;
  }

  // Định dạng cho tab không được chọn
  &:not(.is-selected) {
    background-color: white;
    color: black;
  }
}

